data_process/dataset/BraTS2021/data_h5/
data_process/dataset/BraTS2021/data_niigz/
data_process/dataset/BraTS2021/scripts/
data_process/dataset/BraTS21-17_Mapping.csv
networks/
predictions/
README.md
train.py
utils.py 